<div>
    <span class="close">&times</span>
    <h2>Обращение гражданина</h2>
    <div>
        Тип обращения
        <p>
            %TYPEID%
        </p>
    </div>
    <div>
        Фамилия
        <p>
            %SECONDNAME%
        </p>
    </div>
    <div>
        Имя
      <p>
            %FIRSTNAME%
      </p>
    </div>
    <div>
        Отчество
        <p>
            %PATRONYMIC%
        </p>
    </div>
    <div>
        E-mail
        <p>
            %EMAIL%
        </p>
    </div>
    <div>
        Текст обращения
        <p>
            %TEXT%
        </p>
    </div>
    <div>
        <form action="#" method="post">
            <div>
                <label for="answer">Текст ответа</label>
                <textarea name="answer" id="answer" maxlength="65535" required></textarea>
            </div>
            <div>
                <input type="submit" value="Отправить">
            </div>
        </form>
    </div>
</div>