<button>Оставить заявку</button>
<span class="close">&times;</span>
<div>
  <form action="#" method="post">
    <h2>Форма обращения</h2>
    <div>
      <label for="typeId">Тип обращения</label>
      <select name="typeId" id="typeId">
        <option value="0">Вопрос</option>
        <option value="1">Предложение</option>
        <option value="2">Жалоба</option>
        <option value="3">Другое</option>
      </select>
    </div>
    <div>
      <label for="secondName">Фамилия</label>
      <input type="text" name="secondName" maxlength="255" required id="secondName">
    </div>
    <div>
      <label for="firstName">Имя</label>
      <input type="text" name="firstName" maxlength="255" required id="firstName">
    </div>
    <div>
      <label for="patronymic">Отчество</label>
      <input type="text" name="patronymic" maxlength="255" required id="patronymic">
    </div>
    <div>
      <label for="email">E-mail</label>
      <input type="text" name="email" maxlength="255" required id="email">
    </div>
    <div>
      <label for="text">Текст обращения</label>
      <textarea name="text" maxlength="65535" required id="text"></textarea>
    </div>
    <div>
      <label for="flagAgreed"></label>
      <input type="checkbox" name="flagAgreed" required id="flagAgreed">
      Я согласен с
      <a href="#">
        соглашением о политике конфиденциальности персональных данных образовательной организации.
      </a>
    </div>
    <div>
      <input type="submit" value="Отправить">
    </div>
  </form>
</div>
